.img-logo {
  height: 100px;
}
.card-text {
  font-size: 20px;
  text-align: center;
}
.card {
  height: 400px;
}
.card-img-top {
  height: 200px;
  width: 250px;
  padding-left: 30px;
}
.card-img-top {
  opacity: 0.8;
  filter: alpha(opacity=40); /* sử dụng cho IE8 trở về trước */
}

.card-img-top:hover {
  opacity: 1;
  filter: alpha(opacity=100); /* sử dụng cho IE8 trở về trước */
}

.btn:hover {
  background-color: crimson;
}
.btn {
  border: 1px solid #ddd;
  background: #333;
  text-transform: uppercase;
  font-weight: 600;
  display: inline-block;
  line-height: 20px;
  font-family: sans-serif;
  cursor: pointer;
  margin: 20px 0px 0px;
  padding: 5px 10px;
}
a {
  text-decoration: none;
  color: #444;
  cursor: pointer;
}
.content {
  background-color: #e6e6e6;
}
.footer {
  color: #bdbdbd;
}
#h1 ul {
  background: #333;
  width: 200px;
  padding: 0;
  list-style-type: none;
}
#h1 ul li {
  width: auto;
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid black;
  padding: 0 1em;
  position: relative;
}
#h1 ul li a {
  text-decoration: none;
  color: #f1f1f1;
  display: block;
}
#h1 ul li:hover {
  background: #333;
}
#h1 .sub-menu {
  position: absolute;
  left: 200px;
  top: 0;
  display: none;
}
#h1 ul li:hover .sub-menu {
  display: block;
}

#f1 ul {
  list-style-type: none;
}
#f1 ul li a {
  color: black;
  text-decoration: none;
  display: block;
}
#f1 ul li a:hover {
  color: #f1f1f1;
}
#m1 ul {
  list-style-type: none;
}
#m1 ul li a {
  color: black;
  text-decoration: none;
  display: block;
}
#m1 ul li a:hover {
  background: #f1f1f1;
  color: #f0acac;
}
#list {
  background: rgb(243, 241, 241);
  width: 350px;
  list-style-type: none;
}
#list ul li {
  width: auto;
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #e8e8e8;
}
#list ul li a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  display: block;
}
#list ul li:hover {
  background: #bdbdbd;
  color: #f1f1f1;
}
#list ul {
  list-style-type: none;
}
#list ul li a:hover {
  background: #333;
  color: white;
}
h3 {
  color: black;
}
a {
  text-decoration: none;
  color: black;
}
h3 a:hover {
  color: white;
}
.price {
  color: red;
}
ul.nav__list {
  margin-top: 30px;
  width: 100%;
  list-style: none;
}
li.nav__menu {
  margin: 5px 5px 5px 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  /*transform: skewX(25deg);*/
  border-radius: 5px;
  color: antiquewhite;
  float: left;
  width: 200px;
  /*height: 65px;*/
  line-height: 25px;
  text-transform: uppercase;
  background-color: #34495e;
  cursor: pointer;
  text-transform: uppercase;
  display: list-item;
  list-style: none;
}
.nav__menu > li > a {
  transform: skewX(-25deg);
}
li.nav__menu a {
  transform: skewX(-25deg);
  padding-left: 5px;
  font-size: 15px;
  text-transform: capitalize;
  font-family: Oswald;
  color: aliceblue;
}
ul.nav__menu-lists.nav__menu--1-lists {
  list-style: none;
}
.nav__menu-items {
  padding-top: 5px;
  width: 160px;
  background-color: #34495e;
}
.nav__menu-lists {
  padding-left: 25px;
  display: none;
  -webkit-perspective: 5000px;
  perspective: 5000px;
}
.nav__menu:hover .nav__menu-lists {
  display: block;
}
.card {
  text-align: center;
}
.card .card-price {
  font-weight: 600;
  color: #df1f26;
  font-size: 18px;

  padding-top: 5px;
  line-height: 20px;
  vertical-align: middle;
}
.card-text a {
  text-decoration: none;
}
.card-text a:hover {
  color: red;
}
.tab-container {
  border: 1px solid black;
}
#menu ul {
  list-style-type: none;
}
#menu ul li a {
  color: #bdbdbd;
  text-decoration: none;
  display: block;
}
#menu ul li a:hover {
  background: black;
  color: #f1f1f1;
}
.post {
  width: 300px;

  height: 550px;
}
.post .card-img-top {
  margin-top: 10px;
  width: 350px;
  height: 170px;
}
.login a {
  text-decoration: none;
}
.login a:hover {
  color: #f1f1f1;
}
